.navbar{
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
.wrapper{
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.search{
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;
}
.search input{
    border: none;
    outline: none;
    background-color: transparent;
}
.items{
    display: flex;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.item .icons{
    font-size: 20px;
}
.avtar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}